@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96%;
    --foreground: 0 0% 20%;

    --muted: 0 12% 95%;
    --muted-foreground: 0 12% 35%;

    --popover: 0 0% 93%;
    --popover-foreground: 0 0% 10%;

    --card: 0 0% 94%;
    --card-foreground: 0 0% 15%;

    --primary: 105 24% 45%;
    --primary-foreground: 0 0% 100%;

    --secondary: 105 14% 25%;
    --secondary-foreground: 105 14% 85%;

    --accent: 0 0% 85%;
    --accent-foreground: 0 0% 25%;

    --destructive: 10 82% 39%;
    --destructive-foreground: 10 82% 99%;

    --border: 105 14% 85%;
    --ring: 105 14% 46%;
    --input: 105 14% 88%;

    --radius: 0.8rem;
  }

  .dark {
    --background: 0 0% 10%;
    --foreground: 0 0% 73%;

    --muted: 0 12% 15%;
    --muted-foreground: 0 12% 65%;

    --popover: 0 0% 7%;
    --popover-foreground: 0 0% 83%;

    --card: 0 0% 8%;
    --card-foreground: 0 0% 78%;

    --primary: 105 24% 55%;
    --primary-foreground: 0 0% 0%;

    --secondary: 105 14% 25%;
    --secondary-foreground: 105 14% 85%;

    --accent: 0 0% 25%;
    --accent-foreground: 0 0% 85%;

    --destructive: 6 83% 45%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 25%;
    --input: 0 0% 18%;
    --ring: 105 24% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply min-h-screen bg-background font-sans antialiased;
  }
}

.timeline {
  &:hover {
    .edit-area {
      .ReactVirtualized__Grid {
        &::-webkit-scrollbar {
          height: 10px;
        }
      }
    }
  }
}

.time-area {
  flex: 0 0 auto;
  .ReactVirtualized__Grid {
    outline: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.edit-area {
  flex: 1 1 auto !important;
  .ReactVirtualized__Grid {
    outline: none !important;
    overflow: overlay !important;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent !important;
    }

    &::-webkit-scrollbar-thumb {
      background: hsl(var(--border)) !important;
      border-radius: 16px;
    }
  }
}

.edit-row {
  background-repeat: no-repeat, repeat;
  background-image: linear-gradient(hsl(var(--background)), hsl(var(--background))), linear-gradient(90deg, hsl(var(--border) / 0.8) 1px, transparent 0);
}
